.gitlab-monitor-title {
    font-weight: bold;
}

.gitlab-monitor-icon-button {
    padding: 4px;
}

.gitlab-monitor-icon-button StIcon {
    icon-size: 16px;
}

.gitlab-monitor-project {
    min-width: 24em;
}

.gitlab-monitor-secondary {
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.9em;
}
