/* SPDX-FileCopyrightText: 2026 Fernando Bouchet */
/* SPDX-License-Identifier: GPL-2.0-or-later */

.gitlab-monitor-title {
    font-weight: bold;
}

.gitlab-monitor-header-text {
    spacing: 4px;
}

.gitlab-monitor-icon-button {
    margin-left: 4px;
    padding: 6px;
}

.gitlab-monitor-icon-button StIcon {
    icon-size: 14px;
}

.gitlab-monitor-project {
    min-width: 24em;
    padding-top: 6px;
    padding-bottom: 6px;
}

.gitlab-monitor-project-name {
    font-weight: bold;
}

.gitlab-monitor-branch {
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.9em;
}

.gitlab-monitor-branch-icon {
    icon-size: 14px;
}

.panel-button.gitlab-monitor-indicator {
    -natural-hpadding: 6px;
    -minimum-hpadding: 4px;
}

.gitlab-monitor-secondary {
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.9em;
}

.popup-menu-item.gitlab-monitor-secondary {
    padding-top: 6px;
    padding-bottom: 6px;
}
